<configuration>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <datePattern value="yyyyMM\\yyyyMMdd'_Demo.txt'" />
      <encoding value="utf-8" />
      <file value="..\\..\\mylog\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %nDatetime：%utcdate %nHostName:%property{log4net:HostName} %nThreadID:[%thread] %nLogLevel：  %-5level %nClassName：%logger property: [%property{NDC}] - %nDescription：%message%newline %n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>
